<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="icon" type="image/png" href="{{ asset('asset/icon/Dark_Icon.png') }}">
            <link href="{{ asset('asset/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

            {% block css %}{% endblock %}
    </head>
    <body>

        {{ render(controller('\\App\\Controller\\CategoryController::NavbarCategories')) }}
        {% block body %}{% endblock %}
        <script src="{{ asset('asset/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('asset/js/main.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
